<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <h1>reCOMmend</h1>
        <h4>Get reommendations on what you like</h4>
    </div>
    <div class="wrapper">
        <main>
        {{{ body }}}
        </main>
        <footer>
        Thanks for visiting
        </footer>
    </div>
    <script src="/javascript/logout.js"></script>

   
</body>

</html>