        <!--Search bar starts-->
        <div class="container">

          <form action="" class="search-bar">
            <input id="query-box" type="text" placeholder="search recommendations" name="q"/>
            
            <!--Drop down for selecting type-->
            <select id="type-box">
              <option value="" disabled selected hidden>Select a Type</option>
              <option value="movies">Movies</option>
              <option value="games">Games</option>
              <option value="shows">Shows</option>
              <option value="podcasts">Podcasts</option>
              <option value="books">Books</option>
              <option value="authors">Authors</option>
              <option value="music">Music</option>
            </select>

            <button type="submit"> <i class="material-icons">search</i> </button>

          </form>
        </div>
        <script src="/javascript/logout.js"></script>
        <script src="/javascript/search.js"></script>
        <!--Search bar ends-->
  {{#if searchHistory.length}}
     
  <section class="results-form">
    <ul class="post-list">    
      {{#each searchHistory as |search|}} 
    <li>
        <div class="search-item">
          <h4>{{ keyword}}</h4>
          {{#if comment}}
          <h5>{{comment.comment}}</h5>
          {{/if}}
        </div>
    </li>
    {{/each}}
    </ul>
  </section>
  {{/if}}
