<body>

   <div class="wrap">
    <section>
            <h1>reCOMmend</h1>
            <h4 class="h4-color">Login and view your recommendations</h4>
            
    </section>

    
 
 <!-- Login  section-->
    <section>
        <form class="login-form">
        <div>
          <input type="text" placeholder="Enter Email" id="email-login" />
        </div>
        <div>
          <input type="password" placeholder="Enter Password" id="password-login" />
        </div>
        <div>
          <button type="submit">login</button>
        </div>
      </form>
      

  </div>

  <!--account creation section-->
  <div class="wrap section-color" >
  
      
 
      <form class="signup-form">
        <div>
          <input type="text" placeholder="Create Username" id="username-signup" />
        </div>
        <div>
          
          <input type="text" placeholder="Enter Email" id="email-signup" />
        </div>
        <div>
          
          <input type="password" placeholder="Create Password" id="password-signup" />
        </div>
        <div>
          <button type="submit">Create Account</button>
        </div>
      </form>
    </Section>

    <section>
      <h1 class="h1-color">Sign Up</h1>
      <h4 class="h4-color">Get recommendations on what you like</h4>
      
    </section>
      
      

  </div>

    <footer>
      &copy; Group 7, Inc.
    </footer>
  <script src="/javascript/login.js"></script>
  <script src="/javascript/signup.js"></script>

</body>