<div>
   <h1>Search Results</h1>
   <a href="">Go to Dashboard</a>
</div>
   <div>
      
      
     </div>
 
   <form>
 
       <div>
           <h3>Title: </h3>
           {{#each post.comments}}
       </div>
       <div>
           <h3>Type: </h3>
           {{#each post.comments}}
       </div>
       <div>
         <textarea name="comment-body"></textarea>
       </div>
    
       <div>
         <button type="submit" class="form-btn">add comment</button>
       </div>
     </form>
