<form>
  <div>
    <h3>Results</h3>
{{#each searchResults as |Result|}}
  </div>
  <div>
    {{Result.Name}}
    {{Result.wTeaser}}
    <a href={{Result.wUrl}}>{{Result.name}}</a>
  </div>
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit" class="form-btn">add comment</button>
  </div>
</form>
