<body>
   <header class="wrap">
     <Nav>
       <button href="../public/dash.html" class="btn-no-style">Go to Dashboard</button>
   </Nav>
   <h1>Search Results</h1>
  
</header>

   <form class="Form-deet">
 
       <div>
          
           {{Result.Name}}
       </div>
       <div>
          
           {{Result.wTeaser}}
       </div>
       <div>
          <a href={{Result.wUrl}}>{{Result.name}}</a>
     </div>
    
       <div>
         <textarea name="comment-body"></textarea>
       </div>
    
         <button type="submit" >ADD COMMENT</button>
     
     </form>
